# Môi trường ảo (Virtual Environment)
venv/
env/

# Cấu hình bảo mật và Biến môi trường
.env
.flaskenv

# Cơ sở dữ liệu và Thiết kế
instance/
*.db
*.sqlite3
*.dbml

# File đệm của Python (Byte-compiled)
__pycache__/
*.pyc

# Cấu hình của các trình soạn thảo (IDE)
.vscode/
.idea/

# File hệ điều hành tự sinh ra
.DS_Store
Thumbs.db
